{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact | Charleston Credit Union</title>
   <link rel="stylesheet" href="{% static 'core/style.css' %}">

</head>
<body>
    <!--contact section-->
    <section id="contact" class="contact">
        <h2>contact us</h2>
        <p>we're here to help you with any question about your account, loans, or services.</p>
        <button class="btn-contact"> send a message</button>
    </section>
    
</body>
</html>